.card-title {
  background: var(--color-primary);
  color: white;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.4);
}

.project-image {
  width: 100%;
  display: flex;
}

.card-content {
  background: white;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s cubic-bezier(.25,.8,.25,1);
  position: relative;
  padding-bottom: 36px;
}

.card-content:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.project-description {
  padding: 16px;
  text-align: justify;
  margin-bottom: 32px;
}

.project-links {
  display: flex;
  flex-grow: 0;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.project-links a {
  padding: 8px;
  text-align: center;
  color: var(--color-gray-dark);
  width: 50%;
  border-top: 2px solid var(--color-gray-medium);
  text-decoration: none;
}

.project-links a:first-child {
  border-right: 2px solid var(--color-gray-medium);
}

.project-links a:hover {
  background: var(--color-primary);
  color: #fff!important;
  transition: ease-in 0.1s;
}

.project-links a:visited {
  text-decoration: none;
  color: var(--color-gray-dark);
}
