:root {
  --color-primary: #0b486b;
  --color-gray-light: #f5f5f5;
  --color-gray-medium: #ccc;
  --color-gray-dark: #3c3c3c;

  --logo-size: 150px;
  --border-radius: 8px;
  --list-hexagon-size: 50px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray-dark);
}

html {
  background: #fff;
}

body {
  margin: 0 auto;
}

a, a:link {
  text-decoration: none;
}

.content-container {
  box-shadow: 0 2px 2px var(--color-gray-medium);
}

main {
  margin: 0 auto;
}

.main__subtitle {
  font-size: 1.5rem;
  font-weight: 100;
}

.main__about p {
  max-width: 768px;
}

.image__linkedin, .image__github, .image__user, .image__code {
  height: var(--logo-size);
  width: var(--logo-size);
  fill: var(--color-primary);
}

.object__link {
  pointer-events: none;
}
