.footer {
  border-top: 2px solid var(--color-gray-medium);
  width: 100%;
  padding-bottom: 0.5rem;
}

.footerLicense {
  font-size: 0.6rem;

  a {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}
